
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: blanchedalmond;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    text-align: center;
}

.title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    text-shadow: 5px 5px rgba(255, 255, 255, 0.5);
}

.body {
    display: flex;
}

.positions {
    flex: 1 1 auto;
}

.right {
    text-align: right;
    margin-right: 50px;
}

canvas#tetris {
    border: solid .2em #000;
    border-radius: 5px;
    height: 90vh;
    align-items: center;
}

.caja_lateral {
    border: solid .2em #fff;
    margin-bottom: 20px;
    max-width: 200px;
    background-color: #000;
    color: blanchedalmond;
}

canvas#nextPiece {
    width: 100%;
}

.caja_lateral #mobile__contorls{
    align-self: center;
    color: white;
    font-weight: normal;
    font-size: 1.1125rem;
    height: 40%;
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.caja_lateral #mobile__contorls  #rotate:active{
    transform: scale(0.95);
}
.caja_lateral #mobile__contorls  #leftRight div:active{
    transform: scale(0.95);
}
.caja_lateral #mobile__contorls  #down:active{
    transform: scale(0.95);
}

.caja_lateral #mobile__contorls #rotate{
    border: 1px solid black;
    background-color: #30336b;
    border-radius: 5px;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    user-select: none;
}

.caja_lateral #mobile__contorls #rotate #rotate__text{
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    user-select: none;
}

.caja_lateral #mobile__contorls #rotate #rotate__text::before{
    content: "Rotar";
}
.caja_lateral #mobile__contorls #leftRight{
    margin: 4px 4px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.caja_lateral #mobile__contorls #leftRight div{
    background-color: #30336b;
    border-radius: 5px;
    width: 48%;
    height: 100%;
    border: 1px solid black;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.caja_lateral #mobile__contorls #leftRight #left__div{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.caja_lateral #mobile__contorls #down{
    border: 1px solid black;
    background-color: #30336b;
    width: 60%;
    border-radius: 50%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}