
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: blanchedalmond;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    text-align: center;
}

.title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    text-shadow: 5px 5px rgba(255, 255, 255, 0.5);
}

.body {
    display: flex;
}

.positions {
    flex: 1 1 auto;
}

.right {
    text-align: right;
    margin-right: 50px;
}

canvas#tetris {
    border: solid .2em #000;
    border-radius: 5px;
    height: 90vh;
    align-items: center;
}

.caja_lateral {
    border: solid .2em #fff;
    margin-bottom: 20px;
    max-width: 200px;
    background-color: #000;
    color: blanchedalmond;
}

canvas#nextPiece {
    width: 100%;
}

