body {
    margin: 0px;
    padding: 0px;
    background: cornsilk;
}

.contenedor {
    width: 300px;
    margin: auto;
    text-align: center;
}

.estadisticas {
    width: 300px;
    margin: auto;
    text-align: center;
}